BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: true
IncludeBlocks: Preserve
ReflowComments: true
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
Cpp11BracedListStyle: true
NamespaceIndentation: All
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceBeforeAssignmentOperators: true
IndentCaseLabels: true
